body{
    background: #eee;
}
.wrapper{
    background: #fff;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.services h1, .services p{
    color: #777;
    text-align: center;
    margin: 10px auto;
}
.services{
    float: left;
    margin:1%;
    background:#999;
    padding: 1%;
    width: 29%;
    height: 140px;
    position: relative;
}
.services:nth-child(1){
    top: 5px;
}
.services:nth-child(2){
    top: 15px;
}
.services:nth-child(3){
    top: 25px;
}
.services:after{
    display : block;
    clear: both;
    content:"";
}
.service{
    max-height: 150px;
    overflow: hidden;
}
#banner{
    max-height: 300px;
    margin: 1%;
    overflow: hidden;
    position: relative;
}
#banner h2{
    position: absolute;
    top: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #111;
}
nav{
    background: #333;
    clear: both;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}
nav li{
    list-style-type: none;
    margin: 0 10px;
    color:#fff;
    float: right;
}
nav ul::after{
    content: "";
    display: block;
    clear:both;
}